.space { 
    width: 70%;
    height: 1140px;
    margin-left: 13%;
    padding: 20px; /* Поля */
    background: url(3.bild.gif) no-repeat; /* Цвет фона *//
   }
.space0 { 
    width: 90%;
    height: 500px;
    padding: 3% 3%;
   }


.header-h1 {
    position: relative;
    margin-bottom: .20rem;
    text-align: center;
  }

  .header-h1 h1::after {
    content: "";
    position: absolute;
    background: #000000;
    height: .125rem;
    left: 0;
    top: 10%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
  }
  .header-h1-dark h1 {
    background: #000000;
    color: #fff;
  }


.title {
	font-size: 15px;
	color: #000;
	padding-left: 10px;
	line-height: 31px;
}
.title span {
	display: inline;
	background: #00000094;
	box-shadow: -10px 0 0 #00000094, 10px 0 0 #00000094;
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 15px;
}

.title0 {
	font-size: 15px;
	color: #000;
        text-align: center;
	padding-left: 23%;
	line-height: 31px;
}
.title0 span {
	display: inline;
	background: #00000094;
	box-shadow: -10px 0 0 #00000094, 10px 0 0 #00000094;
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 15px;
}

.title1 {
	font-size: 15px;
	color: #000;
        text-align: center;
	margin-left: 45%;
	line-height: 31px;
}
.title1 span {
	display: center;
	background: #00000094;
	box-shadow: -10px 0 0 #00000094, 10px 0 0 #00000094;
	padding: 10px 0;
	color: #FFFFFF;
	font-size: 15px;
}



a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 

  button[name="3"] { 
    position: absolute;
    top: 160%;
    left: 35%;
    border: none;
    border-radius: 50%;
    padding: 3px 20px;
    background: #1E90FF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

  }
  button[name="3"]:hover { 
    background: #4169E1;
  } 


 button[name="6"] { 
    position: absolute;
    top: 180%;
    left: 26%;
    border: none;
    border-radius: 50%;
    padding: 3px 20px;
    background: #1E90FF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

  }
  button[name="6"]:hover { 
    background: #4169E1;
  } 


 button[name="9"] { 
    position: absolute;
    top: 160%;
    left: 17%;
    border: none;
    border-radius: 50%;
    padding: 3px 20px;
    background: #1E90FF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

  }
  button[name="9"]:hover { 
    background: #4169E1;
  } 


 button[name="12"] { 
    position: absolute;
    top: 139%;
    left: 26%;
    border: none;
    border-radius: 50%;
    padding: 3px 20px;
    background: #1E90FF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

  }
  button[name="12"]:hover { 
    background: #4169E1;
  } 


 button[name="main"] { 
    position: absolute;
    top: 163%;
    left: 27%;
    border: none;
    border-radius: 50%;
    padding: 13px 5px;
    background: #483D8B;
    cursor: pointer;
    color: white;
    font-size: 10px;

  }
  button[name="main"]:hover { 
    background: #9370DB;
  } 