.space { 
    width: 70%;
    height: 690px;
    margin-left: 13%;
    padding: 20px; /* Поля */
    background: url(help.bild.gif) no-repeat; /* Цвет фона *//
   }

.space0 { 
    width: 70%;
    height: 300px;
    padding: 0% 3%;
   }


a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 



 button[name="main"] { 
    position: absolute;
    top: 84.6%;
    left: 24.2%;
    border: none;
    border-radius: 50%;
    padding: 13px 5px;
    background: #483D8B;
    cursor: pointer;
    color: white;
    font-size: 10px;

  }
  button[name="main"]:hover { 
    background: #9370DB;
  } 